@font-face {
    font-family: 'Mono Social Icons Font';
    src: url('../fonts/MonoSocialIconsFont-1.10.eot');
    src: url('../fonts/MonoSocialIconsFont-1.10.eot?#iefix') format('embedded-opentype'),
         url('../fonts/MonoSocialIconsFont-1.10.woff') format('woff'),
         url('../fonts/MonoSocialIconsFont-1.10.ttf') format('truetype'),
         url('../fonts/MonoSocialIconsFont-1.10.svg#MonoSocialIconsFont') format('svg');
    src: url('../fonts/MonoSocialIconsFont-1.10.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.symbol, a.symbol:before {
    font-family: 'Mono Social Icons Font';
    -webkit-text-rendering: optimizeLegibility;
    -moz-text-rendering: optimizeLegibility;
    -ms-text-rendering: optimizeLegibility;
    -o-text-rendering: optimizeLegibility;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -ms-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
    font-smoothing: antialiased;
}

a.symbol:before {
    content: attr(title);
    margin-right: 0.3em;
    font-size: 130%;
}

body {
    background-color:#f1f1f1;
    color:#444;
}
.title {
    font-family: 'Pacifico', cursive;
    font-size:300%;
}
a { color:#444; }
a:hover { text-decoration:none; color:#cc3366; }
a .symbol { font-size:150%; }
a.facebook .symbol:hover { color:#3B5998; }
a.twitter .symbol:hover { color:#55acee; }
a.etsy .symbol:hover { color:#D35801; }

/* no hover state for phones, so do colors */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {
  a .symbol { color:#cc3366; }
  a.facebook .symbol { color:#3B5998; }
  a.twitter .symbol { color:#55acee; }
  a.etsy .symbol { color:#D35801; }
}
